@page
@model DebugModel
@using MLHAllinInOne2023.Services;
@{
    ViewData["Title"] = "Error";
}

<h1>Debug Screen</h1>

<h4>Country : @Model.bParser.geoData.Country</h4>

<h4>Region : @Model.bParser.geoData.Region</h4>

<h4>City : @Model.bParser.geoData.City</h4>

<h4>Latitude : @Model.bParser.geoData.Latitude</h4>

<h4>Longitude : @Model.bParser.geoData.Longitude</h4>

<h4>Zip : @Model.bParser.geoData.Zip</h4>
<!--
    TODO(3) - see these h4 tags? Make one for each of the variables you created in the model
    each line will look somehting along the lines 
    <h4> *WeatherDataVariableName* : atModel.weatherModel._weather.WeatherDataVariableName

    Where WeatherDataVariableName is the specific property in the model.
    ie wind speed, temperature, humidity, etc etc. Whichever data properties you decided to use from the JSON
-->

@*<h4>@Model.weatherModel._jsonOutput</h4>*@
@{
    foreach(var choice in Model.chatResponse.choices)
    {
        <h4>Text : @choice.message.content</h4>
    }
}

@*<h4>ChatGPTText : @Model.chatResponse.Text</h4>

<h4>ChatGPTChoices : @Model.chatResponse.Choices</h4>*@